# Development environment pip requirements file
# Install via 'pip install -r requirements_dev.txt'

click
Pillow
jinja2
simplejson
unittest2

google-api-python-client
Flask
scikit-image
flask_dropzone
flask_uploads